#shrink-sz1 {
    height: 37.5px;
    width: 42.5%;
    margin-left: 150px;
}
#srink-sz2 {
    height: 600px;
    width: 100%;
    margin-top: 50px;
    margin-left: 80px;
}
#list {
    list-style: none;
}
#small {
    height: 65%;
    width: 100%;
}

.navbar-nav{
    padding-left: 100px;
    padding-top: 30px;
}

.nav-item{
    margin-right: 40px;
}

.navbar-top {
    margin-left: 150px;
}

#navlinks{
    color: white;
}

#move-down1 {
    margin-bottom: -20px;
}

.nav-item3 {
    margin-right: 100px;
}

.nav-item2 {
    padding-bottom: 15px;
}


#move-down {
    margin-top: 100px;
    font-size: 500%;
}

#move-down>h1 {
    font-size: 100%;
}

#move-down1>h1 {
    font-size: 100%;
}

#expand>h2 {
    font-size: 400%; 
}

#change-color {
    color: grey;
    margin-top: 15px;
}

#move-left {
    margin-left: 10px;
    color: #0d6efd;
    background-color: white;
}

.focus-botton {
    margin-bottom: 4px;
}

.navbutton {
    margin-right: 75px;
}

#change-sz {
    font-size: xx-small;
}

.changeback {
    color:white;
    background-color: #0d6efd;
}

.nav-link {
    color: grey;
}

.explore-double {
    margin: 0 auto;
    text-align: center;
    
}

.explore-double h4 {
    margin-top: 40px;
}

.explore-double p {
    width: 30%;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
}

.explore-row {
    width: 65%;
    margin: 0 auto;
    
}

.explore-buttons {
    width: 115px;
    height: 115px;
    border: solid black 1px;
    border-radius: 14px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    padding-top: 25px;
}

.explore-buttons img {
    width: 40px;
    margin: 0 auto;
    /* position: absolute; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.explore-buttons span {
    position: absolute;
    bottom: 0;

}

.explore-word1 {
    right: 20%;
}

.explore-word2 {
    right: 30%;
}

.explore-word3 {
    right: 20%;
}

.explore-word4 {
    right: 25%;
}

.ellipse {
    width: 50px;
    z-index: -1;
    position: absolute;
    top: 25%;
    left: 33%;
}

.explore-icon {

}
#dollar-sign {
    width: 25px;
    margin-top: 10px;
    margin-left: 33px;
}

.payment-description {
    margin: 125px 250px;
    border: 2px rgb(197, 197, 197) solid;
    border-radius: 20px;
    
}

.payment-description div img {
    margin: 150px 10px;
    width: 500px;
}

.payment-infoboard {
    background: rgb(3 66 241);
    color: white;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    padding-top: 90px;
    padding-left: 50px;
}

.payment-infoboard h6 {
    width: 55%;
    margin-top: 30px;
}

.payment-infoboard div {
    margin-top: 35px;
}

.payment-infoboard div p {
    font-size: 13px;
    width: 50%;
    margin-bottom: 10px;
}

.paymentbutton {
    width: 225px;
    border-width: 2px;
    border-radius: 7px;
    padding: 5px;
    margin-top: 30px;
}

.paymentbutton span {
    margin-left: px;
}

#paymentbutton-img {
    position: relative;
    width: 32px;
    height: auto;
    filter: invert(1);
    margin: 0 10px 0 0px;
}

.bus-solutions {
    margin: 0 auto 60px auto;
    text-align: center;
    
}

.bus-solutions h5 {
    font-weight: 700;
}

.solution-images div div {
    width: 115px;
    height: 115px;
    border: 1px solid lightgrey;
    border-radius: 100%;
    text-align: center;
    background: rgb(228 238 255);
}

.solution-image {
    width: 50px;
    margin-top: 30px;
}

.solution-image2 {
    width: 70px;
    margin-top: 30px;
}

.solution-item {
    margin: 0 auto;
    text-align: center;
    height: 400px;
    
}

.solution-border {
    margin: 0 auto;
}

.solution-h4 {
    width: 200px;
    margin: 20px auto 0 auto;
}

#solution-button {
    width: 175px;
    margin-top: 20px;
    border-width: 2px;
    font-weight: 600;
    padding-right: 0;
    padding-left: 34px;
}

#solution-paragraph {
    margin: 0 auto;
    margin-top: 15px;
    width: 300px;
    font-size: 12px;
    font-weight: 700;
}

#solution-arrow {
    margin-left: 20px;
    width: 26px;
}

#button {
    background-color: rgb(130 207 56);
    margin-right: 2%;
    width: 12%;
    height: 40px;
}
#button2 {
    background-color: rgb(255 255 255);
    color: rgb(3 66 241);
    font-weight: bolder;
    margin-left: 2%;
    width: 12%;
    height: 40px;
    font-size: 15px;
}
.foot {
    background-color: rgb(3 66 241);
    width: 100%;
    height: 350px;
    text-align: center;
    margin-top: 5px;
    padding-top: 50px;
    color: white;
}

#footer {
    --bs-gutter-x: 0rem;
}

#free {
    margin-top: 50px;
}